/* ---------------- CSS reset & font stack ---------------- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* ---------------- CSS reset & font stack ---------------- */



/* ---------------- header ---------------- */
.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* ---------------- header ---------------- */


/* ---------------- body / main container ---------------- */
.main-container {
    /* border: 2px solid red; */
    min-height: calc(100vh - 80px);

    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    border: 4px solid black;
    height: 250px;
    width: 1700px;

    margin-top: 40px;

    display: flex;
    align-items: stretch;

    border-radius: 20px;
    overflow: hidden;
}

.image {
    width: 50%;

    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content  {
    width: 50%;
    
    display: flex;
    align-items: center;

    padding-right: 50px;
    padding-left: 50px;
}

.details {
    display: flex;
    flex-direction: column;

    margin-right: 50px;
}

button {
    height: 60px;
    width: 1000px;

    font-size: 1.2rem;
    font-weight: bold;
}





/* ---------------- body / main container ---------------- */