/* ---------------- CSS reset & font stack ---------------- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.5;
    background-color: #e0e1dd;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* ---------------- CSS reset & font stack ---------------- */

/* ---------------- header ---------------- */
.header {
    /* border: 2px solid black; */

    height: 100px;
    width: 100vw;

    background-color: white;
}
/* ---------------- header ---------------- */

/* ---------------- body / main container ---------------- */
.main-container {
    min-height: calc(100vh - 100px);
}

.container-1 {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    /* border: 2px solid black; */
    height: 300px;
    width: 1300px;

    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
}

.title-container img {
    height: 150px;
    width: 150px;

    margin-top: 30px;
 
    border: 5px solid black;
    border-radius: 50%;
    object-fit: cover;
}

.title-container p {
    font-size: 1.8rem;
    font-weight: bold;

    margin-top: 30px;
}

.money-container {
    /* border: 2px solid black; */
    height: 100px;
    width: 1300px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 30px;

    background-color: #1b263b;
}

#money {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 3.5px;

    color: #e0e1dd;
}

.money-left-container {
    /* border: 2px solid black; */
    height: 100px;
    width: 1300px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 10px;

    background-color: #1b263b;
}

#money-left {
    border: 5px solid green;
    background-color: white;

    height: 60px;
    margin-right: 50px;
    margin-left: 50px;
}




.container-2 {
    /* border: 2px solid red; */
    max-width: 1450px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    padding-top: 100px;
    margin: 0 auto;
}

.item {
    border: 2px solid black;

    height: 300px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: white;
}

.item img {
    height: 150px;
    width: auto;
}

.price {
    margin-bottom: 10px;

    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 93, 0);
}

.item-btns {
    /* border: 2px solid black; */
    height: 60px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;

    background-color: #1b263b;
}

.sell, .buy {
    height: 35px;
    width: 70px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 3px;
}

.buy {
    background-color: rgb(0, 93, 0);
    color: white;
}

.buy:hover {
    background-color: rgb(1, 125, 1);
    transform: scale(0.9);
    cursor: pointer;
}

.buy:active {
    background-color: rgb(0, 93, 0);
}

.sell {
    cursor: not-allowed;
}

.sell.can-sell {
    background-color: rgb(151, 0, 0);
    color: white;
    cursor: pointer;
}

.sell.can-sell:hover {
    background-color: rgb(225, 0, 0);
    color: white;
    transform: scale(0.9);
}

.sell.can-sell:active {
    background-color: rgb(151, 0, 0);
}

.quantity {
    color: white;
}


/* ---------------- body / main container ---------------- */